.section {
  border: 3rem var(--tagla) solid;
  width: 660rem;
  background: var(--luxo);

  h1 {
    width: 590rem;
    padding: 40rem;
    text-align: center;
    font-size: 23rem;
    font-weight: bolder;
    color: var(--delta);
    margin-left: 20rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    transform: 1s ease-in-out;
  }

  h1::first-letter {
    font-size: 80rem;
    height: 10rem;
    color: var(--alert);
    /*font-style: oblique;*/
    font-family: "Courier New", Courier, monospace;
  }

  h1:hover {
    color: var(--alert);
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4rem var(--beta) dotted;
    width: 465rem;
    background: var(--skills);
    margin-bottom: 20rem;
    margin-left: 94rem;
  }

  &__search {
    margin-left: 50rem;
    margin-top: 30rem;
    margin-bottom: 30rem;

    input {
      width: 200rem;
      color: var(--luxo);
      padding: 5rem;
      background: var(--delta);
      border: 4rem var(--luxo) solid;
      border-radius: 10rem;
      transition: width 1s ease-in-out;
    }

    input:hover {
      width: 600rem;
    }
  }

  &__min-prices {
    margin-left: 50rem;
    margin-top: 30rem;
    margin-bottom: 30rem;

    input {
      width: 200rem;
      color: var(--luxo);
      padding: 5rem;
      border: 4rem var(--luxo) solid;
      border-radius: 10rem;
      transition: width 1s ease-in-out;
    }

    input:hover {
      width: 600rem;
    }

    p {
      margin-left: 350rem;
      color: var(--luxo);
      display: none;
    }
  }

  &__max-prices {
    margin-left: 50rem;
    margin-top: 30rem;
    margin-bottom: 30rem;

    input {
      width: 200rem;
      color: var(--luxo);
      padding: 5rem;
      border: 4rem var(--luxo) solid;
      border-radius: 10rem;
      transition: width 1s ease-in-out;
    }

    input:hover {
      width: 600rem;
    }

    p {
      margin-left: 350rem;
      color: var(--luxo);
      display: none;
    }
  }

  &__submit {
    margin-left: 50rem;
    margin-top: 30rem;
    margin-bottom: 30rem;

    input {
      width: 350rem;
      color: var(--delta);
      background: var(--tagla);
      border-radius: 50rem;
      padding: 5rem;
    }
  }

  @include respond-to("small") {
    width: auto;
    padding-bottom: 40rem;
    padding-bottom: 50rem;

    h1 {
      width: 2300rem;
      text-align: center;
      font-size: 50rem;
      margin-left: 300rem;
    }

    h1::first-letter {
      font-size: 80rem;
      height: 10rem;
      color: var(--alert);
      font-family: "Courier New", Courier, monospace;
    }

    h1:hover {
      color: var(--alert);
    }

    &__form {
      width: 2300rem;
      padding: 40rem;
      display: grid;
      grid-column: 1fr 1fr;
      grid-row: 1fr 1fr;
      margin-left: 300rem;
    }

    &__search {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      input {
        width: 200rem;
        padding: 20rem;
        font-size: 30rem;
        transition: width 1s ease-in-out;
      }

      input:hover {
        width: 600rem;
      }
    }

    &__min-prices {
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      input {
        width: 200rem;
        padding: 20rem;
        font-size: 30rem;
        transition: width 1s ease-in-out;
      }

      input:hover {
        width: 600rem;
      }
    }

    &__max-prices {
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      input {
        width: 200rem;
        padding: 20rem;
        font-size: 30rem;
      }

      input:focus {
        width: 600rem;
      }
    }

    &__submit {
      grid-column: 2 / 3;
      grid-row: 2 / 3;

      input {
        width: 600rem;
        padding: 20rem;
        font-size: 30rem;
        transition: width 1s ease-in-out;
      }

      input:hover {
        background: var(--sadxo);
      }
    }
  }
}
